<section class="recommended-section">
  <h2 class="recommended-heading">Recommended Products</h2>
  <div class="recommended-cards">
    @for (product of products; track $index) {
    <div [routerLink]="['/coffee', product._id]" class="recommended-card">
      <img [src]="product.imageUrl" class="recommended-image" />
      <p class="recommended-title">{{ product.title }}</p>
      <p class="recommended-price">€{{ product.price }}</p>
      <button class="wishlist-button">See it now</button>
    </div>
    }
  </div>
</section>
