<div class="card">
  <h2>Edit Profile</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form">
    <input
      type="text"
      id="imageUrl"
      name="imageUrl"
      placeholder="Image URL"
      [(ngModel)]="profileDetails.imageUrl"
      #imageUrlInput="ngModel"
      required
    />
    @if (imageUrlInput.invalid && imageUrlInput.touched) {
    <div class="error">The image URL is required!</div>
    }

    <input
      type="text"
      id="username"
      name="username"
      placeholder="Name"
      [(ngModel)]="profileDetails.username"
      #nameInput="ngModel"
      required
    />
    @if (nameInput.invalid && nameInput.touched) {
    <div class="error">Name is required!</div>
    }

    <input
      type="email"
      id="email"
      name="email"
      placeholder="Email"
      [(ngModel)]="profileDetails.email"
      #emailInput="ngModel"
      required
    />
    @if (emailInput.invalid && emailInput.touched) {
    <div class="error">Email is required!</div>
    }

    <input
      type="tel"
      id="phoneNumber"
      name="phoneNumber"
      placeholder="Phone Number"
      [(ngModel)]="profileDetails.phoneNumber"
      #phoneNumberInput="ngModel"
      required
    />
    @if (phoneNumberInput.invalid && phoneNumberInput.touched) {
    <div class="error">Phone number is required!</div>
    }

    <textarea
      id="address"
      name="address"
      placeholder="Address"
      rows="3"
      [(ngModel)]="profileDetails.address"
      #addressInput="ngModel"
      required
    ></textarea>
    @if (addressInput.invalid && addressInput.touched) {
    <div class="error">Address is required!</div>
    } @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
    }

    <button type="submit" [disabled]="form.invalid">Save Changes</button>
    <a routerLink="/profile">
      <button type="button" class="cancel-btn">Cancel</button>
    </a>
  </form>
</div>
