<div class="profile-card">
  <div class="profile-left">
    <div class="profile-image">
      <img [src]="profileDetails.imageUrl" alt="Profile Picture" />
    </div>
  </div>
  <div class="profile-right">
    <h2>Profile</h2>
    <p><strong>Name:</strong> {{ profileDetails.username }}</p>
    <p><strong>Email:</strong> {{ profileDetails.email }}</p>
    <p><strong>Phone Number:</strong> {{ profileDetails.phoneNumber }}</p>
    <p><strong>Address:</strong> {{ profileDetails.address }}<br /></p>
    <button
      class="edit-profile-btn"
      [routerLink]="['/profile/edit', profileDetails.id]"
    >
      Edit Profile
    </button>
  </div>
</div>

<!-- Recommended Items Section -->
<section class="recommended-items">
  <h2>Your Wishlist 🍵</h2>
  <div class="product-grid">
    <app-wishlist />
  </div>
</section>
