<div class="profile-card">
  <div class="profile-left">
    <div class="profile-image">
      <img src="/mocha blend.webp" alt="Profile Picture" />
    </div>
  </div>
  <div class="profile-right">
    <h2>Profile</h2>
    <p><strong>Name:</strong> User Name</p>
    <p><strong>Email:</strong> mailexpaytech.co</p>
    <p><strong>Phone Number:</strong> +20 01274318900</p>
    <p>
      <strong>Address:</strong> 285 N Broad St, Elizabeth, NJ<br />
      07208, USA
    </p>
    <button class="edit-profile-btn">Edit Profile</button>
  </div>
</div>

<!-- Recommended Items Section -->
<section class="recommended-items">
  <h2>Your Wishlist 🍵</h2>
  <div class="product-grid">
    <article class="product-card">
      <img
        src="/peppermint blend.webp"
        alt="Peppermint Matcha Green Tea"
        class="product-image"
      />
      <h3 class="product-name">Peppermint Matcha</h3>
      <p class="product-price">€25.00</p>
      <a routerLink="/product/peppermint-matcha" class="details-link"
        >See More Details</a
      >
    </article>
    <article class="product-card">
      <img
        src="/mocha blend.webp"
        alt="Holiday Blend Coffee"
        class="product-image"
      />
      <h3 class="product-name">Holiday Blend</h3>
      <p class="product-price">€24.00</p>
      <a routerLink="/product/holiday-blend" class="details-link"
        >See More Details</a
      >
    </article>
  </div>
</section>
