<div class="card">
  <h2>Login</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form">
    <input
      type="email"
      placeholder="Email"
      name="email"
      ngModel
      #emailInput="ngModel"
      required
    />
    @if (emailInput.invalid && emailInput.touched) {
    <div class="error">Email is required</div>
    }

    <input
      type="password"
      placeholder="Password"
      name="password"
      ngModel
      #passwordInput="ngModel"
      required
    />
    @if (passwordInput.invalid && passwordInput.touched) {
    <div class="error">Password is required</div>
    }

    <button type="submit" [disabled]="form.invalid">Sign in</button>
  </form>

  @if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
  }

  <footer>Need an account? Sign up <a routerLink="/register">here</a></footer>
</div>
