<div class="about-us">
  <div class="section">
    <img src="/about-us2.webp" alt="Coffee Variety" />
    <div class="text-box">
      <h3>ABOUT</h3>
      <h1>"The Coffee Shop"</h1>
      <p>
        At "The Coffee Shop", we’re passionate about providing high-quality,
        delicious beverages. So you can enjoy every sip, slurp, and spill (it
        happens) with the knowledge that what you’re drinking isn’t just
        delicious, but also thoughtfully made.
      </p>
      <p>
        We are grateful to be a part of your daily routine, and we take it
        seriously. We believe that drinks can be more than just drinks, but
        sources of joy, inspiration, and creativity in a cup.
      </p>
    </div>
  </div>
  <div class="section">
    <img src="/about-us3.webp" alt="Coffee Cups" />
    <div class="text-box">
      <h3>WHY CHOOSE</h3>
      <h1>"The Coffee Shop"</h1>
      <p>
        We believe in the power of creating magical experiences with every sip.
        Our commitment to using high quality ingredients ensures that your
        coffee or tea moments are some of the most special (and delicious!) of
        your day. Whether you're a coffee enthusiast or a tea aficionado,
        whether you prefer the warmth of a cozy cup or the refreshment of a
        chilled drink, we have something for everyone in our carefully curated
        selection.
      </p>
    </div>
  </div>
  <div class="section">
    <img src="/about-us4.webp" alt="Coffee Set" />
    <div class="text-box">
      <h3>ABOUT QUALITY</h3>
      <h1>We’re very serious</h1>
      <p>
        We’re serious about the quality of our beverages, but that doesn't mean
        we take ourselves too seriously. We want to make good coffee and tea
        approachable by keeping things fun. Join us in celebrating the simple
        joy of a perfectly brewed cup.
      </p>
    </div>
  </div>
</div>
<div class="map-container">
  <h3>Find Us Here</h3>
  <div class="map-card">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434508616!2d144.95373531590425!3d-37.816279742021204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf5775d3a63d9c5e1!2sCoffee%20Shop!5e0!3m2!1sen!2sus!4v1690123456789!5m2!1sen!2sus"
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>
</div>
