<!--Hero image-->
<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-heading">'tis the season</h1>
    <p class="hero-subtext">
      Unwrap our limited-edition blends and enjoy the season's most delicious
      flavors.
    </p>
    <button class="hero-button"><a routerLink="/coffee">Shop Now</a></button>
  </div>
</div>

<!--Perks bar-->
<div class="perks-bar">
  <div class="perk">
    <img src="/pay.png" alt="Right to Return" class="perk-icon" />
    <span class="perk-text">Right to Return</span>
  </div>
  <div class="perk">
    <img src="/24-7.png" alt="24/7 Service" class="perk-icon" />
    <span class="perk-text">24/7 Service</span>
  </div>
  <div class="perk">
    <img src="/delivery.png" alt="Express Delivery" class="perk-icon" />
    <span class="perk-text">Express Delivery</span>
  </div>
  <div class="perk">
    <img src="/price.png" alt="Price Protection" class="perk-icon" />
    <span class="perk-text">Price Protection</span>
  </div>
  <div class="perk">
    <img src="/quality.png" alt="High Quality Coffee" class="perk-icon" />
    <span class="perk-text">High Quality Coffee</span>
  </div>
</div>

<!--Static card products-->

<app-list></app-list>

<!--about us info-->
<div class="about-section">
  <div class="about-container">
    <div class="about-text">
      <h2>created by</h2>
      <h1>victoria daneva</h1>
      <p>
        At "The Coffee Shop", we’re passionate about providing high-quality,
        delicious beverages. So you can enjoy every sip, slurp, and spill (it
        happens) with the knowledge that what you’re drinking isn’t just
        delicious, but also thoughtfully made.
      </p>
      <p>
        We are grateful to be a part of your daily routine, and we take it
        seriously. We believe that drinks can be more than just drinks, but
        sources of joy, inspiration, and creativity in a cup.
      </p>
      <button class="about-button">
        <a routerLink="/about-us">learn more</a>
      </button>
    </div>
    <div class="about-image">
      <img
        src="/about-us.webp"
        alt="Emma Chamberlain sitting in a modern chair"
      />
    </div>
  </div>
</div>
