<div class="search-page">
  <header>
    <h2>Search Results for "{{ query }}"</h2>
  </header>

  @if (isLoading ) {
  <app-loader />
  } @if(!isLoading && searchProducts.length === 0){

  <div>No results found</div>
  } @if (searchProducts.length > 0) {

  <div class="product-grid">
    @for (product of searchProducts; track $index) {
    <a [routerLink]="['/coffee/', product._id]">
      <article
        class="product-card"
        itemscope
        itemtype="https://schema.org/Product"
      >
        <img [src]="product.imageUrl" class="product-image" itemprop="image" />
        <div class="product-details">
          <h2 class="product-name" itemprop="name">{{ product.title }}</h2>
          <p class="product-price">€{{ product.price }}</p>
          <p class="product-description" itemprop="description">
            {{ product.description | slice : 40 }}
          </p>

          <button class="details-button" aria-label="See more details">
            See More Details
          </button>
        </div>
      </article>
    </a>
    }
  </div>
  }
</div>
