<div class="search-page">
  <h2>Search Results for "{{ query }}"</h2>

  @if (isLoading ) {
  <app-loader />
  } @if(!isLoading && searchProducts.length === 0){

  <div>No results found</div>
  } @if (searchProducts.length > 0) {
  <div class="results">
    @for (product of searchProducts; track $index) {
    <a [routerLink]="['/coffee', product._id]"></a>
    <div class="product-card">
      <h3>{{ product.title }}</h3>
      <img [src]="product.imageUrl" alt="{{ product.title }}" />
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
    </div>
    }
  </div>
  }
</div>
