<section class="catalog">
  <header>
    <h1>Shop All Products</h1>
    <p>Total Products: {{ products?.length || 0 }}</p>
  </header>

  @if (isLoading) {
  <app-loader></app-loader>
  } @else {
  <div class="product-grid">
    @for (product of products; track $index) {
    <a [routerLink]="['/coffee/', product._id]">
      <article
        class="product-card"
        itemscope
        itemtype="https://schema.org/Product"
      >
        <img [src]="product.imageUrl" class="product-image" itemprop="image" />
        <div class="product-details">
          <h2 class="product-name" itemprop="name">
            {{ product.title | slice : 15 }}
          </h2>
          <p class="product-price">€{{ product.price }}</p>
          <p class="product-description" itemprop="description">
            {{ product.description | slice : 40 }}
          </p>

          <button class="details-button" aria-label="See more details">
            See More Details
          </button>
        </div>
      </article>
    </a>
    }
  </div>
  }
</section>
