<section class="product-details-page">
  <div class="product-details">
    <div class="product-image">
      <img [src]="product.imageUrl" class="main-image" itemprop="image" />
    </div>
    <div class="product-info">
      <h1 itemprop="name">{{ product.title }}</h1>
      <p class="product-price" name="price">€{{ product.price }}</p>
      <p class="product-type" name="type">Type: {{ product.type }}</p>
      <p class="product-description" name="description">
        {{ product.description }}
      </p>
      <p class="product-author" name="author">Made by: {{ authorUsername }}</p>

      <div class="wishlist-actions">
        @if (isLoggedIn) { @if (!isOwner) {
        <button (click)="addToCard()" class="wishlist-button">
          Add to card
        </button>
        @if (isLiked) {
        <button (click)="unWishlist()" class="wishlist-button">
          Remove from wishlist :(
        </button>
        } @else{
        <a (click)="wishlist()">
          <button class="wishlist-button">Wishlist</button> </a
        >} } @if (isOwner) {
        <a [routerLink]="['/coffee', product._id, 'edit']">
          <button class="edit-button">Edit</button>
        </a>
        <a (click)="delete()">
          <button class="delete-button">Delete</button>
        </a>
        } } @else {
        <a routerLink="/login"
          ><button class="wishlist-button">U like it? GO AND LOGIN!!</button></a
        >
        }
      </div>
      <p class="installment-info">
        Pay in interest-free installments on orders over €30.
      </p>
    </div>
  </div>
</section>

<!-- Recommended Items -->
<app-list> </app-list>
