<div class="card">
  <h2>Create Product</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" method="post" class="form">
    <!-- Image URL -->
    <input
      type="url"
      id="image-url"
      name="imageUrl"
      placeholder="Image URL"
      ngModel
      #imageUrlInput="ngModel"
      required
    />
    @if (imageUrlInput.invalid && imageUrlInput.touched) {
    <div class="error">An image is required.</div>
    }

    <!-- Title -->
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Product Title"
      ngModel
      #titleInput="ngModel"
      required
    />
    @if (titleInput.invalid && titleInput.touched) {
    <div class="error">A title is required.</div>
    }

    <!-- Price -->
    <input
      type="number"
      id="price"
      name="price"
      placeholder="Price"
      step="0.01"
      min="5"
      ngModel
      #priceInput="ngModel"
      required
    />
    @if (priceInput.invalid && priceInput.touched) {
    <div class="error">A price is required.</div>
    }

    <!-- Product Type -->
    <input
      type="text"
      id="type"
      name="type"
      placeholder="Product Type"
      ngModel
      #typeInput="ngModel"
      required
    />
    @if (typeInput.invalid && typeInput.touched) {
    <div class="error">A type is required.</div>
    }

    <!-- Description -->
    <textarea
      id="description"
      name="description"
      placeholder="Description"
      rows="3"
      ngModel
      #descriptionInput="ngModel"
      required
    ></textarea>
    @if (descriptionInput.invalid && descriptionInput.touched) {
    <div class="error">A description is required.</div>
    }

    <!-- Button Group -->
    <div class="button-group">
      <button type="submit" [disabled]="form.invalid">Create</button>
      <button type="button" class="cancel-btn">
        <a routerLink="/coffee">Cancel</a>
      </button>
    </div>

    <!-- Error Message -->
    @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
    }
  </form>
</div>
