<div class="card">
  <h2>Register</h2>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="form">
    <input
      type="text"
      name="username"
      placeholder="Username"
      ngModel
      required
      minlength="5"
    />
    @if ( registerForm.controls['username']?.invalid &&
    registerForm.controls['username']?.touched ) {
    <div class="error">Username must be at least 5 characters.</div>
    }

    <input type="email" name="email" placeholder="Email" ngModel required />
    @if ( registerForm.controls['email']?.invalid &&
    registerForm.controls['email']?.touched ) {
    <div class="error">Valid email is required.</div>
    }

    <input
      type="text"
      name="phoneNumber"
      placeholder="Phone Number"
      ngModel
      required
    />
    @if ( registerForm.controls['phoneNumber']?.invalid &&
    registerForm.controls['phoneNumber']?.touched ) {
    <div class="error">Phone number is required.</div>
    }

    <input type="text" name="address" placeholder="Address" ngModel required />
    @if ( registerForm.controls['address']?.invalid &&
    registerForm.controls['address']?.touched ) {
    <div class="error">Address is required.</div>
    }

    <input
      type="password"
      name="password"
      placeholder="Password"
      ngModel
      required
      minlength="5"
    />
    @if ( registerForm.controls['password']?.invalid &&
    registerForm.controls['password']?.touched ) {
    <div class="error">Password must be at least 5 characters.</div>
    }

    <input
      type="password"
      name="rePassword"
      placeholder="Repeat Password"
      ngModel
      required
    />
    @if ( registerForm.controls['rePassword']?.invalid &&
    registerForm.controls['rePassword']?.touched ) {
    <div class="error">Please confirm your password.</div>
    }

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  @if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
  }

  <footer>
    Already have an account? <a routerLink="/login">Log in here</a>
  </footer>
</div>
