<div class="card">
  <h2>Register</h2>
  <form action="" class="form">
    <input type="text" placeholder="Username" #inputUsername required />
    <input type="email" placeholder="Email" #inputEmail required />
    <input type="tel" placeholder="Phone Number" #inputPhNumber required />
    <input type="text" placeholder="Address" #inputAdress required />
    <input type="password" placeholder="Password" #inputPassword required />
    <input type="password" placeholder="Repeat Password" required />
    <button>Register</button>
  </form>
  <footer>
    Already have an account? <a routerLink="/login">Log in here</a>
  </footer>
</div>
