<nav>
  <div class="logo">The Coffee-Shop</div>
  <div class="menu">
    <div class="search-container">
      <input
        type="text"
        class="search-input"
        placeholder="Search..."
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
      />
      <div class="search-icon"></div>
    </div>
    <a class="item" routerLink="/home">Home</a>
    <a class="item" routerLink="/coffee">Coffee</a>
    @if(isLoggedIn){
    <a class="item" routerLink="/create">Create</a>
    <a class="item" routerLink="/profile">Profile</a>
    <a class="item" (click)="logout()">Logout</a>
    } @else {
    <a class="item" routerLink="/register">Register</a>
    <a class="item" routerLink="/login">Login</a>
    }
  </div>
</nav>
