.card {
  position: relative;
  z-index: 3;
  width: 94%;
  max-width: 400px;
  margin: 120px auto;
  padding: 40px 30px;
  border-radius: 12px;
  background: white;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #183371;
}

.card textarea {
  height: auto;
}

.form {
  display: grid;
  gap: 15px;
  margin-bottom: 20px;
}

.form input,
.form textarea {
  width: 90%;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  background: #ededed;
  font-size: 14px;
}

.form textarea {
  padding: 15px 20px;
  resize: none;
  height: auto;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #888;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.form button {
  width: 45%;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  border: none;
  background: #183371;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.form button:hover {
  background: var(--color-primary);
}
.a {
  text-decoration: none;
}
.cancel-btn {
  background: #711818;
}

.cancel-btn:hover {
  background: #a32424;
}
